@import "tailwindcss";

@font-face {
  font-family: 'FunkinLingLong';
  src: url('./assets/fonts/FunkinLingLong.otf') format('opentype');
}

@font-face {
  font-family: 'FunkinOptions';
  src: url('./assets/fonts/FunkinOptions.otf') format('opentype');
}

:root {
  --color-title: #ffffff;
  --color-muted: #888;
  --color-muted-hover: #bbb;
}

@theme {
  --font-linglong: 'FunkinLingLong', sans-serif;
  --font-options: 'FunkinOptions', sans-serif;
  --color-title: var(--color-title);
  --color-muted: var(--color-muted);
  --color-muted-hover: var(--color-muted-hover);
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
